<!DOCTYPE html>
<html>

<head>
<h1> <c> Olivia's Fabulous Login! </h1>
</head>

<body bgcolor = "#E086D3">
<form action = "/authenticate/" method = "POST">
     <h3> Please type in your username:  </h3>
       <input type="text" name="user"><br>
     <h3> Please type in your passowrd: </h3>
       <input type="text" name="pw"><br>
     <h4>
       <input type="submit" value="Submit"> </h4>
</form>
<h4>
<form action = "/create/" method = "POST">
  New to olivia's fabulous form? Register today!
  <br> <br> New Username:
  <input type = "text" name="user"> <br>
  <br> New Password:
  <input type= "text" name="pw"> <br>
  <input type="submit" value="Submit">
</form>
</h4>
</c>


</body>
</html>
